@import '../../utilities/variables';

.pagination {
  order: 2;
  span {
    font-size: 12px;
    padding: 3px 10px;
  }

  span.pagination__button:hover {
    text-decoration: underline;
  }

  .pagination__active {
    cursor: pointer;
  }

  .pagination__inactive {
    cursor: not-allowed;
  }
}

@media only screen and (min-width: 768px) {
  .pagination {
    order: 1;
  }
}
