@import "../../utilities/variables";

.pagination {
  order: 2;
  span,
  button {
    font-size: 12px;
    padding: 3px 10px;
    border: none;
    background-color: transparent;
  }

  button:first-child {
    width: 110px;
  }

  button:last-child {
    width: 80px;
  }

  button.pagination__active.pagination__button:hover {
    text-decoration: underline;
    font-weight: 600;
    transition: text-decoration 0.3s, font-weight 0.3s;
  }

  .pagination__active {
    cursor: pointer;
  }

  .pagination__inactive {
    cursor: default;
  }
}

@media only screen and (min-width: 768px) {
  .pagination {
    order: 1;
  }
}
