@import '../../utilities/variables';

.pokemon-card__container {
  padding: 18px;
  height: 341px;
  width: 182px;
  box-shadow: 0px 0px 3px $gray;
  border-radius: 10px;
}

.pokemon-card__img {
  height: 180px;
  width: 180px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $blue;
  img {
    height: 80%;
  }
}

.pokemon-card__title {
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}

.pokemon-card__properties {
  height: 90px;
}

.pokemon-card__property:first-child{
  margin-top: 0;
}

.pokemon-card__property{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  > span:first-of-type {
    font-weight: 600;
  }
}

.pokemon-card__abilities {
  span {
    display: block;
    text-align: end;
    font-weight: 300;
  }
}

.pokemon-card__details-link {

    border-top: 1px solid $gray;
    color: $blue;
    padding: 0px 0;
    text-align: center;
    margin-top: 3px;

    a {
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
      }


  div:hover {
    text-decoration: underline;
  }
}

.pokemon-card__details-link:visited {
  color: $blue;
}
