@import "../../utilities/variables";

.pokemon-list__container {
  .pokemon-list__header {
    display: grid;
    justify-content: center;
    row-gap: 10px;
  }
}

.pokemon-list__header {
  display: flex;
  justify-content: center;
  padding: 12px 0 16px 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 35px;
  justify-items: center;
}

.additional_div_for_placing_pagination {
  display: none;
}

.pagination__footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .pokemon-list__container {
    margin: 0 auto;
    // padding-top: 1vw;
    width: 60vw;
    .pokemon-list__header {
      justify-content: space-around;
    }
  }

  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .pokemon-list__container {
    margin: 0vw auto;
    // padding-top: 1vw;
    width: 73vw;
    .pokemon-list__header {
      // justify-content: space-between;
      display: flex;
      // margin: 1vw 0 1vw 26vw;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pokemon-list__container {
    .pokemon-list__header {
      justify-content: space-between;
      width: 72vw;

      .additional_div_for_placing_pagination {
        width: 200px;
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
