@import '../../utilities/variables';

.navigation-container {
  box-shadow: 0 2px 3px $gray;
}

.navigation-bar {
  height: 100px;
  display: flex;
  width: 70vw;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  height: 100px;
}

@media only screen and (min-width: 600px) {
  .navigation-bar {
    // height: 100px;
    justify-content: space-between;

  }
}
@media only screen and (min-width: 768px) {
  .navigation-bar {
    justify-content: space-between;
    // flex-direction: row;
  }
}

@media only screen and (min-width: 1201px) {
  .navigation-bar {
    height: 30px;
    flex-direction: row;
  }
}
