@import "../../utilities/variables";

.search_bar {
  order: 1;

  .search_bar__box {
    position: relative;

    input {
      height: 30px;
      width: 400px;
      border-radius: 10px;
      text-indent: 30px;
      width: 200px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .search_bar {
    .search_bar__box {
      input {
        width: 400px;
      }
    }
  }
}
@media only screen and (min-width: 1201px) {
  .search_bar {
    order: 0;

    .search_bar__box {
      input {
        width: 400px;
      }
    }
  }
}
