@import '../../utilities/variables';
@import url('https://css.gg/search.css');

.search-bar {
  order: 1;

  .search-bar__box {
    position: relative;

    .gg-search {
      position: absolute;
      top: 11px;
      left: 10px;
      color: $dark_blue;
    }

    input {
      height: 30px;
      width: 400px;
      border: 1px solid $gray;
      border-radius: 10px;
      text-indent: 30px;
      width: 200px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .search-bar {
    .search-bar__box {
      input {
        width: 400px;
      }
    }
  }
}
@media only screen and (min-width: 1201px) {
  .search-bar {
    order: 0;

    .search-bar__box {
      input {
        width: 400px;
      }
    }
  }
}
