@import "../../utilities/variables";

.pokemon_page__properties_dropdowns {
  margin-top: 20px;
}

.properties_dropdown {
  width: 998px;
}

.properties_dropdown__button {
  width: 100%;
  background-color: white;
  border: 1px solid $gray;
  box-shadow: 0 0 2px $gray;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 8px;

  span {
    color: $dark_blue;
    padding: 3px 7px;
    margin: 5px;
  }
}

.properties_dropdown__container {
  width: 100%;
  background-color: white;
  border: 1px solid $gray;
  box-shadow: 0 2px 3px $gray;
  font-size: 12px;
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
  border-radius: 7px;

  cursor: pointer;
  li {
    padding: 5px;
  }
}
